$globe-width: 12px;
$globe-height: 28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;
$light-off-color: rgba(170, 180, 176, 0.3);

@mixin adjust-light(
  $color,
  $background-opacity: 1,
  $box-shadow-opacity: $light-off-opacity
) {
  background: rgba($color, $background-opacity);
  box-shadow: 0px 9px 15px $globe-spread rgba($color, $box-shadow-opacity);
}

.lightrope {
  height: 3.5rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  &.on {
    li {
      animation-name: flash-1;
      animation-duration: 2s;
      &:nth-child(2n + 1) {
        @include adjust-light(rgba(0, 255, 255, 1), 1, 0.5);
        animation-name: flash-2;
        animation-duration: 0.4s;
      }
      &:nth-child(4n + 2) {
        @include adjust-light(rgba(247, 0, 148, 1), 1, 1);
        animation-name: flash-3;
        animation-duration: 1.1s;
      }
      &:nth-child(odd) {
        animation-duration: 1.8s;
      }
      &:nth-child(3n + 1) {
        animation-duration: 1.4s;
      }
    }
  }
  li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: 8px calc($globe-spacing / 2) auto;
    display: inline-block;
    background: $light-off-color;
    box-shadow: none;
    // cap of the bulb
    &:before {
      content: '';
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: calc($globe-height / 3);
      border-radius: 3px;
      top: (0 - calc($globe-height / 6));
      left: 1px;
    }
    // wire between bulbs
    &:after {
      content: '';
      top: 0 - calc($globe-height / 2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: calc($globe-height / 3) * 2;
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
}
@keyframes flash-1 {
  0%,
  100% {
    @include adjust-light(rgba(0, 247, 165, 1));
  }
  50% {
    @include adjust-light(rgba(0, 247, 165, 1), $light-off-opacity, 0.2);
  }
}
@keyframes flash-2 {
  0%,
  100% {
    @include adjust-light(rgba(0, 255, 255, 1));
  }
  50% {
    @include adjust-light(rgba(0, 255, 255, 1), $light-off-opacity, 0.2);
  }
}
@keyframes flash-3 {
  0%,
  100% {
    @include adjust-light(rgba(247, 0, 148, 1));
  }
  50% {
    @include adjust-light(rgba(247, 0, 148, 1), $light-off-opacity, 0.2);
  }
}
