@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /* background-color: #fefefe; */
  /* color: #04143a; */
}

.content-wrapper {
  /* smooth transition between theme */
  transition: background-color 0.25s; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-text-primary rounded;
  }
  ::-webkit-scrollbar-track {
    @apply rounded bg-primary dark:bg-opacity-0;
  }
  body {
    @apply dark:text-custom-gray;
  }

  a {
    @apply underline;
  }

  .container {
    @apply mx-auto my-14 max-w-6xl;
  }

  .section-title {
    @apply text-2xl font-semibold mb-4;
  }

  .section-sub-title {
    @apply text-primary text-lg font-semibold;
  }

  .section-content {
    @apply text-xl text-custom-purple font-semibold;
  }

  .section-content-description {
    @apply text-base text-custom-gray;
  }
}
